<div class="alert alert-info alert-box">
  <p>برای تکمیل اطلاعات شخصی به این نکات توجه کنید:</p>
  <ul>
    <li>لطفا از نام مستعار (<abbr title="A usually familiar or humorous but sometimes pointed or cruel name given to a person. -- wikipedia">nikname</abbr>) یا نام غیر واقعی (<abbr title="A fictitious name used by an author to conceal his or her identity. -- dictionary.com">pseudonym</abbr>) استفاده نکنید. البته این به آن معنی نیست که از لزوما از نام شناسنامه‌ای‌تان استفاده کنید!</li>
    <li>برای بهتر نمایش داده شدن در سایت، اطلاعات را با حروف فارسی وارد کنید. اگر اطلاعات وارد شده از Facebook با حروف غیر فارسی نوشته شده‌اند آنها را اصلاح کنید.</li>
  </ul>
</div>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :role, as: :boolean if current_user.admin? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
